.superpowers/
desktoptheme/RetroDIN/colors
icons/RetroDIN/
__pycache__/
icons/RetroDIN-src/status/
icons/RetroDIN-src/apps/
wallpapers/com.retrodin.crtnoise/contents/images/noise.gif
lookandfeel/com.retrodin.theme/contents/splash/images/noise.gif
sddm/RetroDIN/background.gif
