.superpowers/
build/desktoptheme/RetroDIN/colors
build/icons/RetroDIN/
__pycache__/
build/icons/RetroDIN-src/status/
build/icons/RetroDIN-src/apps/
build/wallpapers/com.retrodin.crtnoise/contents/images/noise.gif
build/lookandfeel/com.retrodin.theme/contents/splash/images/noise.gif
