[Desktop Entry]
Name=RetroDIN
X-KDE-PluginInfo-Author=yousuf khan (youxufkhan)
X-KDE-PluginInfo-Name=RetroDIN
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-EnabledByDefault=true
